<div id='header'>
  <div id='container_logo' class='container'>
    <%=
        link_to (root_path) do 
          image_tag("question.png", alt: "Q&A", id: 'logo')
        end
    %>
  </div>
  <div id='connexion_tab'>
    <% unless signed_in? %>
      <%= link_to "Nouveau compte", new_user_registration_path, { class: 'btn btn_paper_raise'} %>
      <%= link_to "Connexion", new_user_session_path, { class: 'btn btn_paper_raise'} %>
    <% else %>
      <p><%= current_user.email %></p>
      <%= link_to('Déconnexion', destroy_user_session_path, {class: 'btn btn_paper_raise', method: :delete}) %>
    <% end %>
  </div>
</div>
